@import "variables";

@import "components/components";
@import "pages/pages";

h1 {
  padding: 0;
  margin: 0;
}
body {
  background: $background;
  color: $color-text-primary;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  font-family: "Antonio", sans-serif;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}
