$purple-900: #090a0d;
$purple-800: #1c1b22;
$purple-700: #262630;
$purple-500: #4c4960;
$purple-100: #e5e4ee;

$background: linear-gradient(100deg, $purple-900 0%, $purple-800 128%);

$color-text-primary: $purple-100;
$color-text-secondary: $purple-500;

$btn-background: $purple-700;
