.redirect-page {
  height: 100lvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;
    max-width: 80%;

    .manual-redirect {
      opacity: 0;
      margin-top: 2.5rem;

      &.active {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
}
