button {
  min-width: 345px;
  font-weight: 500;
  font-size: 1.25rem;
  background-color: $btn-background;
  color: $color-text-primary;
  padding: 22px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  text-transform: capitalize;

  @media (hover: hover) {
    &:hover {
      background-color: $purple-500;
    }
  }

  &:active {
    background-color: $purple-700;
    transition: background-color 0.01s;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
