@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --purple-900: 225, 18%, 4%;
    --purple-800: 249, 11%, 12%;
    --purple-700: 240, 12%, 17%;
    --purple-500: 248, 14%, 33%;
    --purple-100: 246, 23%, 91%;

    --background: var(--purple-900);
    --foreground: var(--purple-100);

    --muted: var(--purple-800);
    --muted-foreground: var(--purple-700);

    --popover: var(--purple-900);
    --popover-foreground: var(--purple-100);

    --card: var(--purple-800);
    --card-foreground: var(--purple-700);

    --border: var(--purple-700);
    --input: var(--purple-800);

    --primary: var(--purple-800);
    --primary-foreground: var(--purple-100);

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* toastify customizzation */
    --toastify-color-dark: hsl(var(--purple-900));
    --toastify-text-color-dark: hsl(var(--purple-100));
    /* toastify customizzation */
  }

  .dark {
    --background: var(--purple-900);
    --foreground: var(--purple-100);

    --muted: var(--purple-800);
    --muted-foreground: var(--purple-500);

    --popover: var(--purple-900);
    --popover-foreground: var(--purple-100);

    --card: var(--purple-800);
    --card-foreground: var(--purple-700);

    --border: var(--purple-700);
    --input: var(--purple-800);

    --primary: var(--purple-800);
    --primary-foreground: var(--purple-100);

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: var(--purple-700);
    --accent-foreground: var(--purple-100);

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--purple-100);

    --radius: 0.6rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    color: white;
    background: linear-gradient(100deg, #090a0d 0%, #1c1b22 128%);
    color: hsl(var(--purple-100));
    font-family: "Barlow", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  html {
    background-color: #090a0d;
  }
  h1 {
    padding: 0;
    margin: 0;

    font-size: 4rem;
    font-family: "Antonio", sans-serif;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 3rem;
    }

    @media (max-width: 576px) {
      font-size: 2rem;
    }
  }
}

/* Fixing min width standard from Tailwind */
button {
  min-width: 0px !important;
}
